<nav class="navbar navbar-expand-md navbar-dark navbar-full" style="background-color:#932007; font-size: 20px;" >
  <a class="navbar-brand" href="/" style="font-family:Arial, Helvetica, sans-serif;">Blood Bank Monitoring</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      {% if session.logged_in %}
        <li class="nav-item default"><a class="nav-link" href="/donate">Donate</a></li>
        <li class="nav-item default"><a class="nav-link" href="/donorlogs">Logs</a></li>
        <li class="nav-item default"><a class="nav-link" href="/bloodform">Add</a></li>
        <li class="nav-item default"><a class="nav-link" href="/notifications">Requests</a></li>
      {% else %}
        <li class="nav-item default"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact us</a></li>
      {% endif %}
    </ul>

    {% if session.logged_in %}
    <li class="nav-item default"><a href="/dashboard">Dashboard</a></li>
      <li class="nav-item default"><a href="/logout">Logout</a></li>
    {% else %}
      <li class="nav-item default"><a href="/register">Register</a></li>
      <li class="nav-item default"><a href="/login">Login</a></li>
    {% endif %}

  </div>
</nav>
