{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-centre" style="background-color:#f7f7f7;">
    <h1> Contact us </h1>
    <p>Contact for blood inquiries. Our 24x7 operated system understands emergencies.</p>
    <p> </p>
    <hr class="my-4">
  <form method="post">
    <div class="form-group">
      <label>Blood Group</label>
      <input type="text" name="bgroup" class="form-control" placeholder="Blood Packets" value="{{request.form.bgroup}}">
    </div>
    <div class="form-group">
      <label>Number of Packets (units)</label>
      <input type="number" name="bpackets" class="form-control" placeholder="Blood Packets" value="{{request.form.bpackets}}">
    </div>
      <div class="form-group">
        <label>Full Name</label>
        <input type="text" name="fname" class="form-control" placeholder="Full Name" value="{{request.form.fname}}">
      </div>

    <div class="form-group">
      <label>Address</label>
      <input type="text" name="adress" class="form-control" placeholder="1234 Main Road" value="{{request.form.adress}}">
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
  </form>
</div>
{% endblock %}
