<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blood Bank Monitoring</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
  {% include 'includes/_navbar.html' %}
  <div class="container">
  {% include 'includes/_messages.html' %}
  {% block body %}{% endblock %}
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">

  </script>
  <!-- Footer -->
<footer class="py-4 bg-dark text-white-50">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Developed by</h5>
        <small>Harsh Gahlot & Ayushi</small>
        <br>
        <small>1MV17CS038-1MV17CS022</small>
        <br>
        <small>Department of Computer Science & Engineering</small>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/">Search</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#"> CS038-CS022</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  <!-- <footer id="sticky-footer" class="py-4 bg-dark text-white-50" style="background-color:#932007">
    <div class="container text-center">
      <small>Copyright &copy; Harsh Gahlot(1MV17CS038) & Ayushi(1MV17CS022)</small>
    </div>
  </footer> -->
  </body>
</html>
