<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BloodBank Monitoring</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
  {% include 'includes/_navbar.html' %}
  <div class="container">
  {% include 'includes/_messages.html' %}
  {% block body %}{% endblock %}
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">

  </script>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50" style="background-color:#932007">
    <div class="container text-center">
      <small>Copyright &copy; Harsh Gahlot(1MV17CS038) & Ayushi(1MV17CS022)</small>
    </div>
  </footer>
  </body>
</html>
