<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BloodBank Monitoring</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
  {% include 'includes/_navbar.html' %}
  <div class="container">
  {% include 'includes/_messages.html' %}
  {% block body %}{% endblock %}
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">

  </script>
  <p class="mt-5 mb-3 text-muted text-center">&copy; CS038-CS022</p>
  </body>
</html>
